$clr-deep-purple-list: ("base": #673ab7, "50":   #ede7f6, "100":  #d1c4e9, "200":  #b39ddb, "300":  #9575cd, "400":  #7e57c2, "500":  #673ab7, "600":  #5e35b1, "700":  #512da8, "800":  #4527a0, "900":  #311b92, "a100": #b388ff, "a200": #7c4dff, "a400": #651fff, "a700": #6200ea)

$clr-deep-purple:      map-get($clr-deep-purple-list, "base")
$clr-deep-purple-50:   map-get($clr-deep-purple-list, "50")
$clr-deep-purple-100:  map-get($clr-deep-purple-list, "100")
$clr-deep-purple-200:  map-get($clr-deep-purple-list, "200")
$clr-deep-purple-300:  map-get($clr-deep-purple-list, "300")
$clr-deep-purple-400:  map-get($clr-deep-purple-list, "400")
$clr-deep-purple-500:  map-get($clr-deep-purple-list, "500")
$clr-deep-purple-600:  map-get($clr-deep-purple-list, "600")
$clr-deep-purple-700:  map-get($clr-deep-purple-list, "700")
$clr-deep-purple-800:  map-get($clr-deep-purple-list, "800")
$clr-deep-purple-900:  map-get($clr-deep-purple-list, "900")
$clr-deep-purple-a100: map-get($clr-deep-purple-list, "a100")
$clr-deep-purple-a200: map-get($clr-deep-purple-list, "a200")
$clr-deep-purple-a400: map-get($clr-deep-purple-list, "a400")
$clr-deep-purple-a700: map-get($clr-deep-purple-list, "a700")

$clr-yellow-list: ("base": #ffeb3b, "50":   #fffde7, "100":  #fff9c4, "200":  #fff59d, "300":  #fff176, "400":  #ffee58, "500":  #ffeb3b, "600":  #fdd835, "700":  #fbc02d, "800":  #f9a825, "900":  #f57f17, "a100": #ffff8d, "a200": #ffff00, "a400": #ffea00, "a700": #ffd600)

$clr-yellow:      map-get($clr-yellow-list, "base")

$clr-yellow-50:   map-get($clr-yellow-list, "50")
$clr-yellow-100:  map-get($clr-yellow-list, "100")
$clr-yellow-200:  map-get($clr-yellow-list, "200")
$clr-yellow-300:  map-get($clr-yellow-list, "300")
$clr-yellow-400:  map-get($clr-yellow-list, "400")
$clr-yellow-500:  map-get($clr-yellow-list, "500")
$clr-yellow-600:  map-get($clr-yellow-list, "600")
$clr-yellow-700:  map-get($clr-yellow-list, "700")
$clr-yellow-800:  map-get($clr-yellow-list, "800")
$clr-yellow-900:  map-get($clr-yellow-list, "900")
$clr-yellow-a100: map-get($clr-yellow-list, "a100")
$clr-yellow-a200: map-get($clr-yellow-list, "a200")
$clr-yellow-a400: map-get($clr-yellow-list, "a400")
$clr-yellow-a700: map-get($clr-yellow-list, "a700")

*
  margin: 0
  padding: 0
  border: 0
  font-size: 100%
  font: inherit
  vertical-align: baseline
  background: transparent
  text-rendering: optimizeLegibility


body
  font-family: 'Lato', sans-serif
  color: rgba(0, 0, 0, 0.87)
  font-size: 1rem
  line-height: 1.5rem

.padded
  padding: 3em 0

main
  font-size: .8em
  line-height: 1.2em
  color: rgba(0,0,0,0.5)
  background: whitesmoke

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px)
  html,
  body
    font-size: 18px

h1,
h2,
h3,
h4,
h5,
h6
  font-family: 'Fira Sans', sans-serif
  font-weight: 300

h1,
h2
  font-size: 2.625rem
  margin-bottom: 1.25rem
  line-height: 3.25rem

h3
  margin-top: 1.5rem
  font-size: 1.625rem
  margin-bottom: .75rem
  line-height: 2.4375rem

p
  margin-bottom: 1.333rem

.content-wrapper
  max-width: 1200px
  margin: auto

.card
  margin-bottom: 2rem
  padding: 2rem 2rem
  background-color: white
  border-radius: 0.25rem
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23)

.flexed
  display: flex

nav
  padding: 1rem
  border-bottom: 1px solid rgba(0, 0, 0, 0.3)
  box-shadow: 0 4px 8px rgba(0,0,0,0.08)

header
  width: 100%
  color: rgba(255, 255, 255, 1)
  padding: 1.5rem 0
  background: rgb(240, 240, 240)
  background: -webkit-linear-gradient(left, $clr-deep-purple-900, $clr-deep-purple-800)
  background: -o-linear-gradient(right, $clr-deep-purple-900, $clr-deep-purple-800)
  background: -moz-linear-gradient(right, $clr-deep-purple-900, $clr-deep-purple-800)
  background: linear-gradient(to right, $clr-deep-purple-900, $clr-deep-purple-800)

  h1
    margin-bottom: 0rem
    letter-spacing: 0.2rem

  .subtitle
    font-family: 'Lato', sans-serif
    font-weight: 300
    font-size: 1.5rem
    color: rgba(255, 255, 255, 0.7)

.control
  display: flex
  flex-direction: column
  margin-left: 2rem

  h3
    font-family: 'Lato', sans-serif
    color: rgba(0, 0, 0, 0.87)
    font-size: 0.8rem
    line-height: 1rem
    margin-top: 0
    margin-bottom: .2rem

.player-controls
  display: flex
  align-items: center

#iterations
  font-size: 1.4rem

#data-thumb-gallery
  margin-top: 1rem

.data-thumb
  width: 50px
  height: auto
  margin: 0 7px 7px 0
  opacity: 0.5
  border: 3px solid transparent
  border-radius: 5px

.data-thumb:hover
  border: 3px solid rgba(0,0,0,0.5)

.selected
  opacity: 1
  border: 3px solid rgba(0,0,0,0.8)

h4
  text-transform: uppercase
  color: rgba(0,0,0,0.9)
  margin-bottom: 1rem

#neurons h4
  margin-bottom: 0px
  position: absolute
  left: 40px

.control-menu
  font-family: inherit
  background-color: transparent
  width: 100%
  padding: 0.1rem
  font-size: 1rem
  color: rgba(0, 0, 0, 0.7)
  border: none
  border-bottom: 1px solid rgba(0, 0, 0, 0.2)

.control-value,
.control-menu > option
  font-weight: 300

.font-awesome-isnt-so-awesome
  position: absolute
  top: 14px
  left: 20px
.font-awesome-isnt-so-awesome2
  position: absolute
  top: 14px
  left: 17px

.circular-raised-button
  position: relative
  display: block
  width: 2.5rem
  height: 2.5rem
  border-radius: 50%
  background: $clr-yellow-a200
  justify-content: center
  align-items: center
  box-shadow: 0 .1rem .2rem 0 rgba(0, 0, 0, 0.26)

  &:hover
    cursor: pointer
    box-shadow: 0 .2rem .3rem rgba(0,0,0,0.26)
    transition: box-shadow 0.3s ease-in-out

  i
    color: rgba(0,0,0,0.6)

.circular-icon-button
  display: block
  width: 2.5rem
  height: 2.5rem
  border-radius: 50%
  background: transparent
  display: flex
  justify-content: center
  align-items: center

  i
    color: rgba(0,0,0,0.6)

  &:hover
    background: rgba(0,0,0,0.1)
    cursor: pointer

.big
  width: 3rem
  height: 3rem

.small
  margin-top: 0.2rem
  margin-bottom: 0.4rem
  width: 1.8rem
  height: 1.8rem

.show-bg
  background: rgba(0,0,0,0.025)

.add-remove-controls
  display: flex

ul
  list-style: none
  max-width: 680px

.net-controls
  display: flex
  flex-direction: column
  align-items: center

.layer-controls
  display: flex
  flex-direction: column
  align-items: center

.neuron-controls
  display: flex

  li
    margin-left: 4rem
    display: flex
    flex-direction: column
    align-items: center
  li:first-child
    margin-left: 0
  .hide
    display: none
#data
  width: 100%
  min-width: 130px
  flex: 2
  margin-right: 1.5em
#neurons
  position: relative
  width: 100%
  flex: 5
  margin-right: 1.5em
#output
  width: 100%
  flex: 4

footer
  margin-top: 2rem
  padding: 2rem 0
  font-size: .8rem
  background: #f0f0f0
  background: -webkit-linear-gradient(left, #311b92, #4527a0)
  background: -o-linear-gradient(right, #311b92, #4527a0)
  background: -moz-linear-gradient(right, #311b92, #4527a0)
  background: linear-gradient(to right, #311b92, #4527a0)
  color: rgba(255, 255, 255, 0.8)

a:link
  color: rgba(255, 255, 255, 1)
  text-decoration: none

a:visited
  color: rgba(255, 255, 255, 1)

a:hover
  color: rgba(255, 255, 255, 1)

.social a, svg
  display: inline-block

.social svg
  vertical-align: middle
  height: 20px
  width: 20px
  fill: rgba(255, 255, 255, 1)

.social svg:hover
  border-radius: 100%
  fill: #311b92
  background-color: white
  transform: scale(1.25)
  transition: background-color .5s, transform .5s ease-out

.social-links
  display: inline-block
  position: relative
  top: -2px
  margin: 0 3px
